Can you build objects from a pandas database

In [39]:
###############
### IMPORTS ###
###############

import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [40]:
####################
### Scrape Names ###
####################

URL = "https://www.ssa.gov/oact/babynames/"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")
results = soup.find(class_ = "c-table")
names = results.find_all("td")

In [41]:
########################################
### Extract names and generate table ###
########################################

students= []

for name in names:
    try:
        int(name.get_text(strip=True))
    except:
        students.append(name.get_text(strip=True))

students = sorted(students)
grades = np.random.randint(101, size=(20,5))

grades_dataframe = pd.DataFrame(grades, index = students, columns = [f'Test {i}' for i in range(1,6)])

In [42]:
grades_dataframe

           Test 1  Test 2  Test 3  Test 4  Test 5
Amelia         33      69      34      77      10
Ava            54      62      59      30      54
Benjamin       90      72      82      63      39
Charlotte      23       9      17      50       2
Elijah         82      71      95      29       5
Emma           11      96      28      60      55
Evelyn         13      21      97      13       6
Harper         99      28      51      55      12
Henry          58      59       9      61      16
Isabella        0      84      85       1      37
James          87      78      70      33      16
Liam            2      86      30      31      56
Lucas          72      59      38      73      15
Mia            80      37      48      51      78
Noah           74      29      59       7      50
Oliver          5      99      54      25      21
Olivia         97      57      92       8      16
Sophia         37      62      10      87       4
Theodore       48      45      25      38      33
William        95      82       0      25      61

In [43]:
######################
###Class definition###
######################